<h1>Cadastrar Usuário</h1>

<form action="/cadastrarUsuario" method="POST">

    <label>Nome:</label>
    <input type="text" name="nome">

    <br><br>

    <label>Email:</label>
    <input type="email" name="email">

    <br><br>

    <label>Idade:</label>
    <input type="number" name="idade">

    <br><br>

    <button type="submit">
        Cadastrar
    </button>

</form>

